{% extends "base.html" %}

{% block title %} {{ coin.name }} {% endblock %}

{% block content %}
    {% load humanize %}
    {% load static %}

    {% include "webstat/parts/coin_table.html" %}

    {% if user.is_superuser %}
        <form method="post">
            {% csrf_token %}

            <table style="text-align: center;">
                <tr>
                    <th>
                        Edit Form
                    </th>
                    <th>
                        <input type="submit" value="Save">
                    </th>
                </tr>
                {{ form.as_table }}
            </table>

            <br><br>
            <a href="{% url "update" coin.pk %}" style="padding: 15px">Update</a>
            <a href="{% url "delete" coin.pk %}" style="padding: 15px">Delete</a>


        </form>
    {% endif %}

{% endblock %}