{% extends "base.html" %}

{% block title %} Stat Info {% endblock %}

{% block content %}
    <div style="width: 60%; margin: auto;">
        <p>Logic:</p>
        <p>
            Using <a href="https://twitterscore.io/">TwitterScore</a> we can get a score of a Twitter account.
            Different projects and coins have different score, score reflects how many "active or strong" people follow
            it. And it would be great to have such statistic for all coins and analyze it.
        </p>
        <p>
            Knowing info from CoinMarketCap or Coingecko we can filter all projects with big score and small market cap
            and check it manually for the activity.
            <strong>That helps to filter interesting project for further research.</strong>
            That's not a tool for no-brain buy.
        </p>
        <p>
            Coefficient MC - score / market cap
        </p>
        <p>
            Coefficient FDV - score / FDV
        </p>
        <p>
            The higher score - the better ratio. It's useful also for filter tokens by market cap (min 1m/10m), volume
            (100k) etc..
        </p>
    </div>
{% endblock %}